body{
    background-color: rgb(166, 158, 101);
}

h1 {
    color:  rgb(80, 46, 46);
    text-align: center;
}

h3 {
    text-align: center;
    background-color: rgb(80, 46, 46);
    border:3px solid black;
}

li {
    text-align: center;
    font-family: cursive;
    font-size: medium;
}

.li{
    color: rgb(80, 46, 46);
    font-size: large;
}

#monkeyLi{
    color: rgb(115, 148, 8);
    font-size: x-large;
}

button{
    color:  rgb(80, 46, 46);
    background-color: black;
}

button:hover{
    color:  rgb(80, 46, 46);
    background-color: white;
}

p {
    text-align: center;
    font-family: cursive;
}

img {
    width: 70px;
    margin-left: 44%;
}

a {
    margin-left: -8%;
    color: black;
}

div h1 {
    color:rgb(80, 46, 46);
    background-color: black;
}

p span{
    font-size: small;
    color: blue;
    text-decoration: underline;
}

p #disLike{
    color: red;
}