form{
    color:aqua;
    background-color: black;
    text-align: center;
    padding: 10% 10%;
}
.enter{
    background-color:rgb(255, 6, 9);
    border-radius: 10%;
}
.h2{
    text-align: center;
    font-style: oblique;
    color: aqua;
}
    
    
