.card {
    width: 18rem;
    display: inline-block;
}

.name-product {
    font-size: larger;
}

#divsOfProducts {
    /* background-color: aqua; */
    width: calc(18rem*3.5);
    height: fit-content;
    margin-left: 15%;
}

.container_menu {
    display: flex;
    padding: 10px;
    size: 70px;

}
.shop-name {
    text-align: center;
    color:aquamarine;
    text-shadow: 2px 2px grey;
    transition: 0.3s
}

nav a {
    color: aqua;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}
.admin{
   
    padding:0 355px;
    text-decoration: none;
    text-align:left;
    border-radius: 10% 30% 50% 70%;

}
.filtering{
    margin: 5px;
    border-radius: 7px;

}

nav a:hover {
    color: chocolate;
}

#branches{
    column-count: 2;
}