.card {
    width: 18rem;
    display: inline-block;
}

.name-product {
    font-size: larger;
}

#divsOfProducts {
    background-color: aqua;
    width: calc(18rem*3.5);
    height: fit-content;
    margin-left: 15%;
}

.container_menu {
    display: flex;
    padding: 10px;
    size: 70px;

}
.shop-name {
    text-align: center;
    color:aquamarine
}

nav a {
    color: aqua;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}
.filtering{
    margin: 5px;
    border-radius: 7px;

}

nav a:hover {
    color: chocolate;
}